.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #1d1d1d;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 0 20px;
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  color: #f0a0c8;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.neon-effect {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0080,
    0 0 70px #ff0080, 0 0 80px #ff0080, 0 0 100px #ff0080, 0 0 150px #ff0080;
}
